*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 17px;
    /* color: white; */
    line-height: 1.6;
    background-color: #efefef;
}

#top{
    background-image: url('img/background.jpg');
    background-color: rgb(75, 14, 14);
    background-blend-mode: screen;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
    color: white;
}

#top h1{
    font-size: 40px;
    text-shadow: 0.5px 0.5px black;
    line-height: 1.2;
    
}
#top p{
    font-size: 20px;
}

a.button{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: rgb(38, 86, 219) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    /* background-color: rgb(38, 86, 219); */
    background-color: none;
    margin-top: 20px;
}

a.button:hover{
    background-color: blue;
    border-color: blue;
}

#login{
    background-image: url('img/login-bg.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
}

input[type=button] {
    margin-top: 20px;
    padding: 12px 20px;
    background-color:  rgb(38, 86, 219); 
    border: 1px solid  rgb(38, 86, 219);
    color: white;
    font-size: 17px;
    border-radius: 6px;
}
.navbar{
    background-color: #4caf50;
    overflow: hidden;
    height: 63px;
    text-align: center;
    justify-items: center;
}
h1.navbar{
    padding: 50px;
}
.open-slide a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-left: 10px;
}

li{
    list-style-type: none;
    display: inline;
}
div#side-menu{
    background-color: rgb(164, 113, 223);
    display: inline;
    flex-direction: column;
}
#side-menu li a{
    text-decoration: none;
    list-style-type: none;
    border: 1px solid;
    padding: 5px 5px;
    margin-right: 5px;
    line-height: 2;
    width: 200px;
    border-color: rgb(164, 113, 223);
    float: left;
    text-align: center;
    background-color: rgb(164, 113, 223);
    color:white;
    
}

#side-menu li a:hover{
    background-color: rgb(143, 216, 149);
    border-color: rgb(143, 216, 149);
}
#table1{
    margin-left: 50px;
    text-align: center;
}

#table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table1 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}

#table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

div.formulate{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
input[type=submit].button {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: rgb(38, 86, 219) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    /* background-color: rgb(38, 86, 219); */
    background-color: none;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: blue;
    border-color: blue;
    color: white;
}
form#addForm{
    padding-top: 20px;
    padding-bottom: 20px;
}